# lists and tuples

In [1]:
#lists = [e1,e2,e3,e4..] we can mutate
#tuples = (e1,e2,e3,e4..) we cannot mutate, immutable

# initialising a list

In [3]:
# how to initialise an empty list

list_1 = []
list_2 = list()
print(list_1)
print(list_2)

[]
[]

In [5]:
# initialise a non-empty list 

# first method
list_3 = [1, 2, 4.5, 'python', True]
print(list_3)

[1, 2, 4.5, 'python', True]

In [15]:
# second method : using a range function

a = range(0,6,1) 
list_4 = list(a)
print(list_4)

[0, 1, 2, 3, 4, 5]

In [18]:
b = range(0,6,2)
list_5 = list(b)
print(list_5)

[0, 2, 4]

In [72]:
# third method : using an one-liner for loop

a = range(0,6,1)

list_6 = [ x/2 for x in a ]
print(list_6)

[0.0, 0.5, 1.0, 1.5, 2.0, 2.5]

In [73]:
list_3

[1, 2, 4.5, 'python', True]

In [74]:
list_3[1]

2

In [75]:
list_3[3]

'python'

In [76]:
list_3[2] = 5.5

In [77]:
list_3

[1, 2, 5.5, 'python', True]

In [78]:
list_3[2] = 'False'

In [79]:
type(list_3)

list

In [80]:
list_3

[1, 2, 'False', 'python', True]

# tuple

In [103]:
# tuple 

tuple_1 = ()
tuple_2 = ()  # actually it was like tuple_2 = tuple() this code works but after it doesn't, idk why.
print(tuple_1)
print(tuple_2)

()
()

In [88]:
# i want to create a tuple with only one value 

tuple_3 = (3,)

In [89]:
type(tuple_3)

tuple

In [105]:
tuple_3 = (1, 2, 4.5, 'python', True)
print(tuple_3)
print(type(tuple_3))

(1, 2, 4.5, 'python', True)
<class 'tuple'>

In [106]:
tuple_3[2]

4.5

In [107]:
tuple_3[3]

'python'

In [108]:
tuple_3[2] = 5.5

TypeError: 'tuple' object does not support item assignment

In [ ]:
### summary
# 2 methods of initialising an empty list. [], list()
# 3 methods of initialising a non-empty list. [1, 2, 3, ...], using a range function, using a single line for loop.

# 2 methods of initialising an empty tuple. (), tuple() 
# 3 ways of creating a non-empty tuple. (1, 2, 3, 4..), using tuple(range(6)), tuple(one-liner for loop) 
# special case where we initialised a tuple with only single element. remember to put a common after the list element (2,) 

# elements of list can be retrieved by its index which starts from 0, and we can use the index to update the contents as well
# but in the case of tuple, we can retrieve individual elements by its index but we cannot use index to update the contents.

# List and tuple interconversion

In [6]:
# list to tuple

In [2]:
list_1 = [1, 'python', 4.5, True]

print(list_1)

[1, 'python', 4.5, True]

In [3]:
print(type(list_1))

<class 'list'>

In [4]:
tuple_1 = tuple(list_1)

print(tuple_1)
print(type(tuple_1))

(1, 'python', 4.5, True)
<class 'tuple'>

In [5]:
# tuple to list

In [9]:
tuple_2 = (1, 'python', 4.5, True)

print(tuple_1)
print(type(tuple_1))

(1, 'python', 4.5, True)
<class 'tuple'>

In [10]:
list_2 = list(tuple_2)

print(list_2)
print(type(list_2))

[1, 'python', 4.5, True]
<class 'list'>

In [16]:
# how to calculate the length of a list as well as length of a tuple
# how they differ from length of a string

In [11]:
list_3 = ['python', 12, 5.6, 'Molecular Biology']

list_3_length = len(list_3)
list_3_length

4

In [12]:
tuple_3 = ('python', 12, 5.6, 'Molecular Biology')

tuple_3_length = len(tuple_3)
tuple_3_length

4

In [14]:
# string datatype

string_1 = 'I am going to use python for my molecular biology course'

string_1_length = len(string_1)
string_1_length

56